<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/" class="btn">Welcome</a>
  <!-- <a href="/accepted" class="btn">Accepted Papers</a> -->
  <a href="/cfp" class="btn">Call for Papers</a>
  <a href="/author" class="btn">Author Guidelines</a>
  <a href="/mentoring" class="btn">Mentoring</a>
<!--  <a href="/travel_grant" class="btn">Travel and Grants</a> -->
  <a href="/program" class="btn">Program</a>
  <a href="/organization" class="btn">Organization</a>
  <a href="/faq" class="btn">FAQs</a>
<!--  <a href="/sponsors" class="btn">Sponsors</a> -->
</section>
<div class="announce">
    <ul style='padding: 0; margin:0;'>
        <li>Dear authors, please check the <a href="http://aacl2020.org/blog/5/">instructions of the remote presentaion system</a>.</li>
        <li>To contact the organizers, please email to <a href = "mailto: aacl-ijcnlp-2020-srw@googlegroups.com">aacl-ijcnlp-2020-srw@googlegroups.com</a>. </li>
        <li>Follow us on <a href="https://twitter.com/AACL_SRW">Twitter</a> for the latest updates of the event. </li>
    </ul>
</div>
